

header{
  display: flex;
  background-color: #ffffff;
  
  
}

.header_h1{
  margin-left:5vh;
  font-family: Roboto Mono,monospace;
  color: #09d3ac;

  /* font-family:  -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif; */
}




.footer{
  background-color:  #303846;
  left: 0;
  right:0;
  position:absolute;  
  margin-top: 10vh;
  width:100vw;
  margin-bottom: 0vh;
  height: 10vh;
  color: #09d3ac;

}


.Flex_Contanainer{
  
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start


}


.item{
  width: 40%;
  /* background-color: blanchedalmond; */
  margin-top: 20vh;
  padding: 5vh;
  border:2px solid #09d3ac;
  font-size: 1rem;
  font-family: Roboto Mono,monospace;;


}
p{
  font-size:1rem;
}

@media only screen and (max-width:800px){
  #item1,#item2{
    display:block;
    width: 80%;
  }
  /* .header_h1{
    text-align: center;

  } */
  .more_than_one_input{
    display: block;
    width: 80%;
    size: 80vh;
    font-size: 1rem;
    margin-top: 5vh;
  }
}



input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: Roboto Mono,monospace;;
  
}


.more_than_one_input{
  margin-left: 5vh;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.btn{
  width:15vh;
  height:7vh;
  display: block;
  margin: auto;
  margin-top: 70px;
  font-family: Roboto Mono,monospace;
  font-size: 1rem;
  background-color: #09d3ac;
  transition: ease-out 0.3s;
}
.btn:hover{
  background-color:  #303846;
  box-shadow: inset 100px 0 0 0  #303846; ;
  cursor: pointer;
  color: #ffffff;
}